html,
body {
  padding: 0;
  margin: 0;
  color: var(--black);
  background: #F5F6F8;
  font-family: 'Noto Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.visuallyHidden
{
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
}

:root {
  --black: #3B434E;
  --grey-light: #EBEBEB;
  --grey: #A4A4A4;
  --grey-light-hover: #d2d2d2;
  --grey-dark: #6c7077;
  --white: white;
  --primary: #563db7;
  --primary-hover: #5035bc; 
  --red-light: #f7aa9c;
  --red: #FC836D;
  --green: #127a4f;
  --green-light: #C8F8E4;
  --font-family: 'Noto Sans', sans-serif;
}